/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3.5rem;

    /* Couleurs */
    --hue: 14;
    --first-color: hsl(var(--hue), 89%, 60%);
    --first-color-alt: hsl(var(--hue), 89%, 53%);
    --title-color: hsl(var(--hue), 12%, 95%);
    --text-color: hsl(var(--hue), 8%, 75%);
    --text-color-light: hsl(var(--hue), 8%, 55%);
    --body-color: linear-gradient(180deg, #445626 0%, #222b15 100%);
    --container-color: hsl(88, 20%, 16%);

    /* Typographie */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* Graisses */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*==================== BASE ====================*/
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
}

/*==================== HEADER & NAV ====================*/
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__close {
    color: var(--title-color);
}

.nav__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: var(--font-medium);
}

.nav__logo-img {
    width: 1.25rem;
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        top: -100%;
        left: 0;
        width: 100%;
        padding: 4rem 0 3rem;
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close {
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem;
    cursor: pointer;
}

.nav__img {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

/* Change background header */
.scroll-header {
    background: var(--container-color);
    box-shadow: 0 1px 4px hsla(0, 4%, 15%, .1);
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button--ghost {
    border: 2px solid;
    background-color: transparent;
    border-radius: 3rem;
    padding: .75rem 1.5rem;
}

.button--ghost:hover {
    background-color: var(--first-color);
    border: 2px solid transparent;
}

.button--link {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button__icon {
    font-size: 1.25rem;
    transition: .3s;
}

.button__icon:hover {
    transform: translateX(.25rem);
}

/*==================== HOME ====================*/
.home {
    padding: 3.5rem 0 2rem;
}

.home__content {
    row-gap: 1rem;
}

.home__group {
    display: grid;
    position: relative;
    padding-top: 2rem;
    justify-items: center;
}

.home__img {
    height: 250px;
    transform: translateY(-2rem);
}

.home__indicator {
    width: 3px;
    height: 70px;
    background-color: var(--title-color);
    position: absolute;
    top: 5rem;
    right: 2rem;
}

.home__indicator::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--title-color);
    border-radius: 50%;
    right: -2.5px;
    bottom: 0;
}

.home__details-img {
    position: absolute;
    top: 2rem;
    right: .5rem;
    text-align: right;
}

.home__details-title {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.home__details-subtitle {
    font-size: .75rem;
    color: var(--text-color);
}

.home__subtitle {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.home__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    line-height: 109%;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.home__description {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.home__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*==================== CATEGORY ====================*/
.category__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
    justify-content: center;
    padding-top: 1rem;
}

.category__data {
    text-align: center;
}

.category__img {
    width: 120px;
    margin-bottom: .75rem;
    transition: .3s;
}

.category__title {
    margin-bottom: .25rem;
    color: var(--title-color);
}

.category__description {
    font-size: var(--small-font-size);
    padding: 0 1rem;
}

.category__data:hover .category__img {
    transform: translateY(-.5rem);
}

/*==================== ABOUT ====================*/
.about__container {
    row-gap: 2rem;
}

.about__data {
    text-align: center;
}

.about__description {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.about__img {
    width: 200px;
    justify-self: center;
}

/*==================== TRICK OR TREAT ====================*/
.trick__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}

.trick__content {
    position: relative;
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 1.5rem 0 1rem;
    text-align: center;
    overflow: hidden;
    transition: .3s;
}

.trick__content:hover {
    transform: translateY(-.5rem);
}

.trick__img {
    width: 90px;
    transition: .3s;
}

.trick__subtitle,
.trick__price {
    display: block;
}

.trick__subtitle {
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
}

.trick__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin-bottom: .5rem;
}

.trick__price {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.trick__button {
    font-size: 1.25rem;
    padding: .5rem .75rem;
    border-radius: .5rem 0 .5rem 0;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.trick__icon {
    color: #fff;
}

/*==================== DISCOUNT ====================*/
.discount__container {
    background-color: var(--container-color);
    border-radius: 1rem;
    padding: 2.5rem 0 1.5rem;
    row-gap: 1.25rem;
    justify-items: center;
    text-align: center;
}

.discount__data {
    padding-left: 1rem;
    padding-right: 1rem;
}

.discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--title-color);
}

.discount__img {
    width: 200px;
}

/*==================== NEW ====================*/
.new__container {
    padding-top: 1rem;
}

.new__img {
    width: 120px;
    margin-bottom: .5rem;
    transition: .3s;
}

.new__content {
    position: relative;
    background-color: var(--container-color);
    width: 242px;
    padding: 2rem 0 1.5rem 0;
    border-radius: .75rem;
    text-align: center;
    overflow: hidden;
}

.new__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--small-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.new__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.new__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .5rem;
}

.new__prices {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.new__price {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.new__discount {
    color: var(--first-color);
    font-size: var(--small-font-size);
    text-decoration: line-through;
    font-weight: var(--font-medium);
}

.new__button {
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem .25rem .75rem .25rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.new__icon {
    font-size: 1.25rem;
}

.new__content:hover .new__button {
    right: 0;
}

.new__content:hover .new__img {
    transform: translateY(-.5rem);
}

/*==================== NEWSLETTER ====================*/
.newsletter__container {
    background-color: var(--container-color);
    padding: 2.5rem 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
}

.newsletter__description {
    margin-bottom: 2rem;
    line-height: 1.6;
}

.newsletter__form {
    background-color: #fff;
    padding: .5rem .5rem .5rem 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
}

.newsletter__input {
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color: var(--title-color);
    border: none;
    outline: none;
}

.newsletter__input::placeholder {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/*==================== FOOTER ====================*/
.footer {
    position: relative;
    overflow: hidden;
}

.footer__container {
    row-gap: 2rem;
}

.footer__logo {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    margin-bottom: 1rem;
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.footer__logo-img {
    width: 1rem;
}

.footer__description {
    margin-bottom: 2.5rem;
    line-height: 1.6;
}

.footer__social {
    display: flex;
    column-gap: .75rem;
}

.footer__social-link {
    display: inline-flex;
    background: var(--container-color);
    padding: .25rem;
    border-radius: .25rem;
    color: var(--title-color);
    font-size: 1rem;
    transition: .3s;
}

.footer__social-link:hover {
    background: var(--first-color);
}

.footer__title {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: var(--title-color);
}

.footer__links {
    display: grid;
    row-gap: .35rem;
}

.footer__link {
    font-size: var(--small-font-size);
    color: var(--text-color);
    transition: .3s;
}

.footer__link:hover {
    color: var(--title-color);
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: .75rem;
    margin-top: 4.5rem;
}

.footer__img-one,
.footer__img-two {
    position: absolute;
    transition: .3s;
}

.footer__img-one {
    width: 100px;
    top: 6rem;
    right: -2rem;
}

.footer__img-two {
    width: 150px;
    bottom: 0;
    right: 4rem;
}

/*==================== SHOW MENU ====================*/
.show-menu {
    top: 0;
}

/*==================== ACTIVE LINK ====================*/
.active-link {
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    width: 4px;
    height: 4px;
    background-color: var(--title-color);
    border-radius: 50%;
    transform: translateX(-50%);
}

/*==================== SCROLL UP ====================*/
.scrollup {
    position: fixed;
    background: var(--container-color);
    right: 1rem;
    bottom: -20%;
    display: inline-flex;
    padding: .3rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    background: var(--first-color);
    opacity: 1;
}

.scrollup__icon {
    font-size: 1.25rem;
    color: var(--title-color);
}

/* Show Scroll */
.show-scroll {
    bottom: 3rem;
}

/*==================== BREAKPOINTS ====================*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .home__img {
    height: 200px;
  }

  .home__buttons {
    flex-direction: column;
    width: max-content;
    row-gap: 1rem;
  }

  .category__container,
  .trick__container {
    grid-template-columns: .8fr;
    justify-content: center;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .about__container {
    grid-template-columns: .8fr;
    justify-content: center;
  }

  .newsletter__container {
    display: grid;
    grid-template-columns: .7fr;
    justify-content: center;
  }

  .newsletter__description {
    padding: 0 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__img,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__link {
    text-transform: initial;
    font-weight: var(--font-medium);
  }

  .home__content {
    padding: 8rem 0 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  .home__img {
    height: 300px;
  }

  .swiper-pagination {
    margin-top: 2rem;
  }

  .category__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__title,
  .about__data {
    text-align: initial;
  }

  .about__img {
    width: 250px;
  }

  .trick__container {
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
  }

  .discount__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    padding: 3rem 0;
    text-align: initial;
  }

  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
    text-transform: uppercase;
  }

  .discount__data {
    padding: 0;
  }

  .discount__img {
    width: 350px;
  }

  .newsletter__container {
    grid-template-columns: .5fr;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
  }

  .footer__img-two {
    right: initial;
    bottom: 0;
    left: 15%;
  }
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section__title {
    font-size: var(--h1-font-size);
    margin-bottom: 3rem;
  }

  .home__content {
    padding-top: 9rem;
    gap: 3rem;
  }

  .home__group {
    padding-top: 0;
  }

  .home__img {
    height: 400px;
    transform: translateY(-3rem);
  }

  .home__indicator {
    top: initial;
    right: initial;
    bottom: 15%;
    left: 45%;
  }

  .home__indicator::after {
    top: 0;
    height: 75px;
  }

  .home__details-img {
    bottom: 0;
    right: 58%;
  }

  .home__title {
    margin-bottom: 1.5rem;
  }

  .home__description {
    margin-bottom: 2.5rem;
    padding-right: 2rem;
  }

  .category__container {
    column-gap: 8rem;
  }

  .category__img {
    width: 200px;
  }

  .about__container {
    column-gap: 7rem;
  }

  .about__img {
    width: 350px;
  }

  .about__description {
    padding-right: 2rem;
  }

  .trick__container {
    gap: 3.5rem;
  }

  .trick__content {
    border-radius: 1.5rem;
  }

  .trick__img {
    width: 110px;
  }

  .trick__title {
    font-size: var(--normal-font-size);
  }

  .discount__container {
    column-gap: 7rem;
  }

  .new__content {
    width: 310px;
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .new__img {
    width: 150px;
  }

  .new__img,
  .new__subtitle {
    margin-bottom: 1rem;
  }

  .new__title {
    font-size: var(--h3-font-size);
  }

  .footer__copy {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 1200px) {
  .home__img {
    height: 420px;
  }

  .swiper-pagination {
    margin-top: 2.5rem;
  }

  .footer__img-one {
    width: 120px;
  }

  .footer__img-two {
    width: 180px;
    top: 30%;
    left: -3rem;
  }
}